body {
  font-family: 'Roboto', monospace;
  font-weight: 300;
}

%button {
  display: inline-block;
  border: 2px solid black;
  padding: 5px 16px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;

  &:hover {
    border: 1px solid $darkGray;
  }
}

div.content {
  display: inline-block;
  padding: 25px 25px 100px 25px;
  margin: 0 auto;
  opacity: 1;
  text-align: center;
  width: calc(100% - 50px);
}

a.button {
  @extend %button;
  margin-top: 25px;
}

div.formWrapper {
  display: block;
  margin: $standard-margin auto;
  max-width: 320px;
}

nav.breadcrumb {
  margin-top: -6px;
  a.iconLink {
    text-decoration: none;
    i {
      font-size: 30px;
    }
  }
}
@include keyframes(in) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

[v-cloak] { display: none; }

.mt-50 {
  display: block;
  margin-top: 50px !important;
}

.mb-standard {
  margin-bottom: $standard-margin;
}

.mt-25 {
  display: block;
  margin-top: 25px !important;
}

table {
  max-width: 320px;
  display: block;
  margin: 0 auto;
  tr {
    text-align: left;
  }
  td, th {
    padding: 5px 15px;
  }
}

div.tile {
  display: inline-block;
  padding: 25px 50px;
  border: 1px solid black;
  width: calc(100% - 100px);
  margin-bottom: 25px;
  max-width: calc(320px - 100px);
  text-align: left;
  position: relative;
  border-radius: 5px;

  h3 {
    text-transform: uppercase;
  }
  p {
    margin: 3px 0;
  }
  span.bold {
    font-weight: bold;
  }

  @include media($bp4) {
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
  }
}

div.setting-content {

}

div.dg-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px;
  background: $red;
}

div.dg-content {
  font-size: 18px;
  font-weight: bold;
}

.dg-btn--cancel {
  margin-right: 20px;
}