footer {
  font-family: 'Nanum Gothic Coding', monospace;
  background: $white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 13px 0;
  text-align: center;
  div.logoWrapper {
    display: inline-block;
    max-width: 50px;
    line-height: 0;
    vertical-align: bottom;
  }
}