<!doctype html>
<head>
    <title>{{ title }} - beemo</title>
    <meta name="apple-mobile-web-app-title" content="SAMS">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="anderswodenker">
    <meta http-equiv="language" content="en">
    <!-- Icons, Styles and hreflang -->
    <link href="/favicon.png" rel="shortcut icon" type="image/png">
    <link href="/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Start <i class="icon icon-home"></i></a></li>
        <li><a href="/settings">Settings <i class="icon icon-settings"></i></a></li>
    </ul>
</nav>
<div class="content">
    <section id="app" v-cloak>
        {% block content %} {% endblock %}
    </section>
</div>
<footer>
    <div class="logoWrapper">
        <img src="{{ url_for('static', filename='images/bee-thing.png') }}" alt="Synopsis Frontend Test">
    </div>
</footer>
<script async src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>