{% extends "base.html" %}
{% block content %}
    <nav class="breadcrumb">
        <a href="/start" class="button"><i class="icon icon-arrow-left"></i> back</a>
    </nav>
    <h1>Confirm your ID</h1>
    <h2 class="mb-standard">Are you sure to save this ID? </h2>
    <p>Country CODE: {{ country_code }}</p>
    <p>ZIP CODE: {{ zip_code }}</p>
    <p>ID: {{ id }}</p>
    <form action="{{ url_for('save_id') }}" method="post">
        <input type="text" v-model="hive_id" name="hive_id" value="{{ id }}">
        <button id="button" v-on:click="post" type="submit">Save <i class="icon icon-check"></i></button>
    </form>
    <p>
        Please keep in mind that your ID is not changeable anymore. If you change location. Please reset the ID. To reset
        the ID, go to the settings under the item "reset"
    </p>
{% endblock %}